.control {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 16px;
  width: 100%;
  &__sort {
    min-width: 100px;
  }

  &__search {
    flex: auto;
  }
}

@media screen and (max-width: 420px) {
  .control {
    flex-direction: column;

    &__sort {
      min-width: 100%;
    }
  }
}
